@CHARSET "UTF-8";
html { 
	background: url(fondos/cintas.jpg) no-repeat fixed center ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: white
}
a {
    text-decoration: none; /*Quita subrayado a los links*/
}
/* unvisited link */
a:link {
    color: #40FFFF;
}
/* visited link */
a:visited {
    color: #C000C0;
}
table tr, th, td{
	width:100%
	text-align: center;
	border-collapse: collapse;
	/*border: 1px solid white;*/	
	padding: 10px;
	margin: auto;
}
th {
	font-size: 1.2em;
}
div{
	background: Black;
	color: White;
	border-radius: 1em;
	padding: 1em;
	margin: auto;
    width: 60%; 
    
    overflow:auto;
}
#opinion{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1em;
	width:100%;
	margin: auto;
}	
}